<% if (meaning[i].jlpt[0] === "jlpt-n5") {%> 
    <div class = "row">
         <smol class = "jlpt" > JLPT N5 </smol>
    </div>
<% } %>

<% if (meaning[i].jlpt[0] === "jlpt-n4") {%> 
    <div class = "row">
        <smol class = "jlpt" > jlpt N4 </smol>
   </div>
<% } %>

<% if (meaning[i].jlpt[0] === "jlpt-n3") {%> 
    <div class = "row">
        <smol class = "jlpt" > JLPT N3 </smol>
   </div>
<% } %>

<% if (meaning[i].jlpt[0] === "jlpt-n2") {%> 
    <div class = "row">
        <smol class = "jlpt" > JLPT N2 </smol>
   </div>
<% } %>

<% if (meaning[i].jlpt[0] === "jlpt-n1") {%> 
    <div class = "row">
        <smol class = "jlpt" > JLPT N1 </smol>
   </div>
<% } %>