<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i> The Anime Dictionary </h1>
        <form action="/search" method="GET">
          <div class="form-group">
            <input
              type="text"
              id="newSearch"
              name="newSearch"
              class="form-control"
              placeholder="Enter word"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">Search</button>
        </form>
      </div>
    </div>
  </div>