<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> <%= title %> </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/pxlucasf/hextech-css@master/dist/hextech.min.css">
    <style>
        body {
            background-color: black
        }
        #wrapper {
        width:800px; 
        height: 200px; line-height: 200px;
        position: absolute;
        top: 50%; margin-top:-100px;
        left: 50%; margin-left:-400px;
        font-weight: bold;
        font-size: 100px;
        text-transform: uppercase;
        color: #ccc; text-align:center
        }
                    
    </style>
</head>
<body>
    <%- body %>
    <script src="js/queue.js"></script>
</body>
</html>