<!-- <div class="px-5 container-fluid bg-info search-header" >
    <h1 class="text-left mb-3"> Japanese Dictionary </h1>
</div > -->

<%- include('partials/navbar'); %>


<% if (meaning === false) { %>
    <div class="alert alert-primary px-5 " role="alert">
        Search not found. Please try again. 
    </div>
 <form action="/" method="GET">
    <button type="submit" class="btn btn-primary px-5">Back to Landing</button>
  </form>

<% } else { %>
<div class = "container-fluid">
    <div class="row px-5 ">
        <span class="searchHead"> Search results for "<%= q %>" or "<%= hiragana %>" </span>
    </div>
    
    <ul class= "list-group">
    <% for(var i = 0; i < meaning.length; i++) { %>
        <%- include('partials/searchres', {i: i, meaning: meaning}); %>
    <% } %>
    </ul>
<% } %>
</div>
    
<!-- <form action="/search" method="POST">
    <div class="form-group">
        <label for="jap">Japanese</label>
        <input 
        type="text" 
        id="jap" 
        name="jap" 
        class="form-control" 
        placeholder="Enter Japanese Quotation"
        />
    </div>
    <div class="form-group">
        <label for="eng">English</label>
        <input 
        type="text" 
        id="eng" 
        name="eng" 
        class="form-control" 
        placeholder="Enter Equivalent English Quotation"
        />
    </div>
    <button type="submit" class="btn btn-primary btn-block">Add</button>
</form>
    </div> -->

